.box-listTask {
  margin: 10px 10px 16px 10px;
  max-height: 420px;
  span {
    font-weight: 500;
    color: white;
  }

  ul {
    background-color: #333232;
    border-radius: 10px;
    overflow-y: auto;
    width: 100%;
    height: 400px;
    max-height: 420px;
    list-style: none;

    li {
      color: white;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: radial-gradient(
        147.52% 100% at 51.85% 0%,
        rgba(142, 142, 142, 0.42) 0%,
        rgba(45, 45, 45, 0.03) 100%
      );
      border: 1px solid #898989;
      height: 61px;
      scale: 0.94;
      border-radius: 10px;
      margin: 10px 0px 10px 0px;
      img {
        margin: 0px 10px 0px 10px;
        cursor: pointer;
      }
      svg {
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          fill: #cdcdcd;
        }
      }
    }
  }
}

.title-task {
  position: relative;
  .desc {
    position: absolute;
    width: 340px;
    top: 22px;
    left: 1px;
    font-size: 10px;
    color: #979797;
  }
}

.box-CircleAndCheck {
  display: flex;
  align-content: center;
}

.info-Task {
  display: flex;
  align-items: center;
  justify-content: center;
}
