.modalDel-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #2c2c2c6c;
}

.modalDel {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 254px;
  height: 58px;

  background: linear-gradient(353.79deg, #1c1c1c 7.99%, #797979 252.47%);
  border-bottom: 1px solid #6d6d6d;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgb(75, 72, 72);
}

span {
  color: white;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.opcao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    border-radius: 7px;
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #ffffff;
      svg {
        fill: #000000;
      }
    }
  }
}
