.modal-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c2c2c6c;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 340px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.541);
  height: 398px;
  background-color: #2f2f2f;
}

.closeModal {
  position: absolute;
  left: 290px;
  top: 4px;
  width: 40px;
  svg {
    margin: 7px;
    cursor: pointer;
    &:hover {
      fill: #cdcdcd;
    }
  }
}

.box-categories {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  flex-direction: column;

  .buttons-category {
    display: flex;
    margin-left: 10px;
    gap: 8px;
  }
}

.box-newTask {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 10px;

  .Title-create {
    display: flex;
    justify-content: start;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 13px;

    span {
      margin: 0px 0px 10px 10px;
    }
  }

  input {
    width: 300px;
    padding: 10px;
    background: none;
    border: 1px solid #cdcdcd;
    outline: none;
    border-radius: 10px;
    color: white;
    transition: all linear 0.2s;
    &:focus {
      border: 1px solid white;
    }
  }

  textarea {
    display: flex;
    width: 300px;
    height: 130px;
    background: none;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    outline: none;
    color: white;
    padding: 2px 10px 0px 10px;
    transition: all linear 0.2s;
    resize: none;

    &:focus {
      border: 1px solid white;
    }
  }
}

.addTaskBtn {
  width: 300px;
  button {
    width: 100%;
    height: 32px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
    }
    &:active {
      scale: 0.8;
    }
  }
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"] + label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 10px;
  width: 81px;
  height: 35px;
  cursor: pointer;
}
input[type="radio"]:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(14, 14, 14);
  color: white;
}
