.box-modalFilter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  background-color: #2c2c2c6c;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modalFilter {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.541);
  height: 398px;
  background: radial-gradient(100% 100% at 0% 0%, #3a3a3a 0%, #1d1d1d 100%);
  border-radius: 15px 15px 0px 0px;
}

.modalFilter > svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modalFilter > .title {
  display: flex;
  align-items: center;
  margin: 40px 0px 0px 10px;
  span {
    font-size: 14px;
    font-weight: 500;
  }
  svg {
    margin-right: 10px;
  }
}

.box-filters {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  ul {
    margin-top: 30px;
    list-style: none;
    width: 100%;
    margin: 10px 10px 0px 10px;
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      border-bottom: 1px solid #acacac;
      padding: 16px;

      svg {
        margin-right: 10px;
      }
      &:hover {
        background-color: #44444481;
      }
    }
  }
}

.title-filterName {
  display: flex;
  align-items: center;
}

.countAllTask {
  padding: 2px;
  width: 40px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  background-color: rgb(31, 29, 29);
  font-weight: 500;
  box-shadow: inset 0px 0px 12px 0px rgb(0, 0, 0);
}
